<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>CCC-GRP-31</title>
		<link rel="stylesheet" type="text/css" href="../static/css/firstpage.css"/>
	</head>
	<body>
		<div class="header">
			<form>
				<h1>Welcome to the Real Australia World</h1>
				<div class="form-box">
					<a href="../templates/home.html">
						<button type="button" class="btn">learn more</button>
					</a>
				</div>
				<div class="grid">
					<div class="n1">Group 31</div>
					<div></div>
					<div>Bilei Zhu</div>
					<div>1185748</div>
					<div>Tianyi Mo</div>
					<div>875556</div>
					<div>Yan Xu</div>
					<div>777481</div>
					<div>Yitong Cheng</div>
					<div>00</div>
					<div>Yusheng Huang</div>
					<div>00</div> 
				</div>
			</form>
		</div>
	</body>
</html>
