body{
	margin: 0;
	background: #002452;
}
#title{
    position: absolute;
    width: 20%;
    height: 10%;
    left: 1%;
    top: 0;
    font-size: 28px;
	color: #FFFFFF;
	display: flex;
	align-items: center;
	font-weight: bold;
}
#btn{
    position: absolute;
    width: 70%;
    left: 30%;
    top: 0;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn1{
    width: 16%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #002452;
    font-size: 14px;
    margin: 10px;
    border-radius: 16%;
}
#map-box{
    position: absolute;
    top: 10%;
    width: 100%;
    height: 90%;
}