<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>CCC-GRP-31</title>
    <script src="../static/js/jquery-3.6.0.min.js"></script>
    <script src="../static/js/echarts.min.js"></script>
    <link href="../static/css/main.css" rel="stylesheet" />
  </head>
  <body>
    <div id="title">Group-31 &nbsp &nbsp Welcome to the Real World</div>
    <div id="time">time</div>
    <div id="words-cloud">words-cloud</div>
    <div id="sentiment-score" style="width: 230px; height: 260px"></div>
    <div id="total-tweets">
      <div class="tweet-num">908722</div>
      <div class="txt">Total Tweets</div>
    </div>
    <div id="map-box">
      <iframe src="../map.html" width="100%" height="100%" scrolling="auto">
      </iframe>
    </div>
    <div id="logo">
      <img src="../static/picture/melb_logo.jpg" width="70%" height="100%" />
    </div>
    <div id="operations">
      <div id="container">
        <div id="form-title">Select Topic</div>
        <select name="topic" id="input">
          <option value="Select">Select</option>
          <option value="covid-19">Covid-19</option>
          <option value="k-pop">K-pop</option>
          <option value="vulgar-words">Vulgar Words</option>
        </select>
        <div id="form-title">Select Datasets</div>
        <select name="datasets" id="input">
          <option value="Select">Select</option>
          <option value="income">Income</option>
          <option value="education-level">Education Level</option>
          <option value="crime-statistic">Crime Statistic</option>
        </select>
        <div id="form-title">Select Age Group</div>
        <select name="age" id="input">
          <option value="All">All</option>
          <option value="young">Young People</option>
          <option value="median">Median Group</option>
          <option value="elder">Elder</option>
        </select>
        <div id="form-title">Filter Year</div>
        <select name="year" id="input">
          <option value="All">All</option>
          <option value="2021">2021</option>
          <option value="2020">2020</option>
          <option value="2019">2019</option>
          <option value="2018">2018</option>
        </select>
        <div id="form-title">Filter Area</div>
        <select name="area" id="input">
          <option value="All">Australia</option>
          <option value="sydney">Sydney</option>
          <option value="melbourne">Melbourne</option>
          <option value="canberra">Canberra</option>
          <option value="brisbane">Brisbane</option>
          <option value="adelaide">Adelaide</option>
          <option value="perth">Perth</option>
        </select>
        <div id="source">
          Source:
          <a href="https://aurin.org.au/" style="color: #618ec0">Aurin</a>
        </div>
      </div>
    </div>
    <script src="../static/js/echarts-wordcloud.min.js"></script>
    <script src="../static/js/ec-sentiment_score.js"></script>
    <script src="../static/js/controller.js"></script>
  </body>
</html>
